*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,body{
    font-family: "inter", sans-serif;
    font-weight: 400;
    
}

.main{
    height: 100vh;
    width: 100%;
    
    background-color: rgb(236, 238, 250);
}

.nav{
    position: fixed;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color:#1011;
    backdrop-filter: blur(100%);
    z-index: 100;
    
    
}

.nav-part-1{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.nav img{
    height: 80px;
    width: auto;
    margin-right: 60px ;
    cursor: pointer;
    margin-left: 15px;
}

.nav-part-1 ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.nav-part-1 ul li a{
    text-decoration: none;
    
    color: black;
    padding: 2px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.nav-part-1 ul li{
    margin-right: 15px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;


    
}

.nav-part-1 ul li a:hover{
    border:2px solid #000;
    color: rgb(19, 18, 18);
   
    
}

.nav-part-2 i{
    margin-right: 20px;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}

.content{
    top: 80px;
    height: calc(100% - 110px);
    width:100%;
    position: relative;
    display: flex;
}

.content-left{
    height: 100%;
    
    padding: 80px 100px;

}

.content-left h5{
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom:10px ;
}

.content-left h1{
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;

}

.content-left p{
    font-size: 20px;
    color: #000;
    width: 80%;
    margin-bottom: 30px;

}

.btn{
    background-color: #000;
    color: white;
    font-size: 15px;
    padding:  12px 40px;
    border: none;
    border: 2px solid transparent;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    transition: 0.3s ;
}

.btn:hover{
    border: 2px solid black;
    background-color: rgb(236, 238, 250);
    color: #000;
    font-weight: 500;
}

.content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
    
}

.product{
    height: 370px;
    width: 250px;
    background-color: #1011;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 10px rgba(255, 207, 201, 0.158);
    display: inline-block;
    margin-right: 20px;
    position: absolute;
    bottom: 40px;
    transition: 0.8s;
    
}

.product:hover{
    box-shadow: 0 0px 200px rgba(165, 169, 228, 0.703);

}

.product img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.product h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    left: 10px;
}

.catagory{
    position:absolute;
    bottom: 20%;
    left: 10px;
    text-transform: capitalize;
}

.color{
    position:absolute;
    bottom: 15%;
    left: 10px;
    text-transform: capitalize;
}
.price{
    position:absolute;
    bottom: 5%;
    left: 10px;
    text-transform: capitalize;
}



.men{
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 238, 250);
}

.men h1{
    margin-left: 470px;
    
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 300;
    position: relative;
    top: 80px;
}

.product-1{
    height: 370px;
    width: 250px;
    background-color: #1011;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 10px rgba(255, 207, 201, 0.158);
    display: inline-block;
    margin-left: 80px;
    margin-top: 100px;
    transition: 0.8s;
    margin-right: -50px;
}

.product-1:hover{
    box-shadow: 0 0px 200px #1011;

}


.product-1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.product-1 h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    left: 10px;
}

.women{
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 238, 250);
}

.women h1 {
    margin-left: 435px;
    
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 300;
    position: relative;
    top: 80px;
}











    


